.container {
	display: block;
	width: 100%;
	padding: 40px;
	height: 500px;
}

.canvasContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.canvas {
	border: 1px solid #efefef;
	transition: box-shadow 0.3s;
}

.canvas:hover {
	box-shadow: 0 0 40px #5f5f5f60;
}

.toolbar {
	border: "1px solid #AEAEAE";
	margin-bottom: 40px;
}

.slider {
	appearance: "none";
}
